{% extends 'base.html' %}
{% load static %}

{% block contend %}
<section id="form_page_xdf">
    <div class="title_page">
        <nav>
            <a href="{% url 'forms:infos_suplemented' %}"><ion-icon name="arrow-back"></ion-icon></a>
        </nav>
        <h3>Edition mot de passe</h3>
    </div>

    <ul class="class_ytln">
        <li>
            <div class="text">
                <p>
                    Modifier votre mot de passe de connexion pour le rendre encore plus solide ou plus simple à
                    retenir. Ce nouveau mot de passe sera l'unique mot de passe que vous utiliseriez lors de votre
                    nouvelle tentative de connexion.
                </p>
            </div>

            <ul class="class_lopm">
                <li><strong>Nouveau mot de passe</strong></li>
                <li>
                    <form method="POST" action="{% url 'forms:password_edition' %}" enctype="multipart/form-data">
                        {% csrf_token %}
                        {% include 'layouts/bulles/error_form.html' %}
                        {% if succes %}
                            <div style="position: relative;width: 100%;height: auto;box-sizing: border-box;
                            justify-content: center;items-align: center;display: flex;flex-flow: wrap;padding: 10px;
                            background: green;">
                                <span style="color: white">{{succes}}</span>
                            </div>
                        {% endif %}
                        {% if error %}
                            <div style="position: relative;width: 100%;height: auto;box-sizing: border-box;
                            justify-content: center;items-align: center;display: flex;flex-flow: wrap;padding: 10px;
                            background: red;">
                                <span style="color: white">{{error}}</span>
                            </div>
                        {% endif %}
                        <ul>
                            <li>
                                {{ form.password }}
                                {% if form.password.errors %}
                                    <i class="error_input">{{ form.password.errors }}</i>
                                {% endif %}
                            </li>
                            <li>
                                {{ form.newpassword }}
                                {% if form.newpassword.errors %}
                                    <i class="error_input">{{ form.newpassword.errors }}</i>
                                {% endif %}
                            </li>
                            <li>
                                {{ form.confirm }}
                                {% if form.confirm.errors %}
                                    <i class="error_input">{{ form.confirm.errors }}</i>
                                {% endif %}
                            </li>
                        </ul>

                        <div class="zone_btn">
                            <button type="submit">Enreg</button>
                        </div>
                    </form>
                </li>
            </ul>
        </li>
    </ul>
</section>
{% endblock contend %}