<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Email page</title>
    </head>
    <body>
        <div style="position: relative;display: block;">
            <div style="position: relative;display: flex;flex-flow: wrap;font-size: 1.02em;
            justify-content: center;items-align: center;">
                <h4 style="position: relative;">
                    HKCSERVICES.CI : mail de vérification pour la confirmation du mail << {{email}} >>
                </h4>
            </div>

            <div style="position: relative;display: flex;flex-flow: wrap;">
                <p style="position: relative;">
                    Bienvenue sur hkcservices.ci, votre nouvelle destination e-commerce !

                    Nous sommes ravis de vous accueillir sur notre plateforme où vous trouverez une large gamme de produits et services multiple. Que vous soyez à la recherche de vêtements, meubles de maison ou d'autres services, nous sommes là pour répondre à tous vos besoins.
                    Explorez notre catalogue, découvrez nos offres spéciales et profitez d'une expérience de shopping en ligne sécurisée et pratique. Notre équipe est disponible pour vous assister à tout moment si vous avez des questions ou besoin d'assistance.
                    Merci de faire partie de la communauté hkcservices.ci ! Nous espérons que vous trouverez tout ce que vous cherchez et que votre expérience d'achat avec nous sera exceptionnelle.
                    À très bientôt sur hkcservices.ci !

                    L'équipe hkcservices.ci
                </p>
            </div>

            <div style="position: relative;width: 100%;
            height: auto;box-sizing: border-box;padding: 10px;display: flex;
            justify-content: center;items-align: center;
            ">
                <a href="http://{{domaine}}/verification_du_mail/{{user_mail}}" style="text-decoration: none;position: relative;width: auto;
                height: auto;box-sizing: border-box;padding: 10px;display: flex;
                background: blue;border-raduis: 20px;color: white">confirmer</a>
            </div>
        </div>
    </body>
</html>