<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Vérification mail</title>
    </head>
    <body>
        <div style="position: relative;display: block;">
            <div style="position: relative;display: flex;flex-flow: wrap;font-size: 1.02em;
            justify-content: center;items-align: center;">
                <h4 style="position: relative;">
                    HKCSERVICES.CI : Vérification du nouveau mail << {{email}} >>
                </h4>
            </div>

            <div style="position: relative;display: flex;flex-flow: wrap;">
                <p style="position: relative;">
                    Cher utilisateur,
                    votre ancien mail a été remplacer par celui-ci.
                </p>
            </div>

            <div style="position: relative;width: 100%;
            height: auto;box-sizing: border-box;padding: 10px;display: flex;
            justify-content: center;items-align: center;
            ">
                <a href="http://{{domaine}}/verification_du_mail/{{user_mail}}" style="text-decoration: none;position: relative;width: auto;
                height: auto;box-sizing: border-box;padding: 10px;display: flex;
                background: blue;border-raduis: 20px;color: white">confirmer</a>
            </div>
        </div>
    </body>
</html>